@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: $main-bg;
    font-family: $font-stack;
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: $card-bg;
    // width: 115rem;
    width: 75%;
    height: 40rem;
    padding-left: 4rem;
    margin: 0 auto;
    margin-top: 13.8rem;
    border-radius: 1rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
}



.content {
    width: 80%;

    .heading {
        color: $main-heading;
        margin-bottom: 3.2rem;
    }

    .accent {
        color: $accent;
    }

    .lead {
        color: $main-pg;
        margin-bottom: 6rem;
        line-height: 1.6;
    }

}



.company-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .stat {
        font-size: 2rem;
        font-weight: 700;
        color: $main-heading;
        margin-bottom: 0.6rem;
    }

    .category {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $stat-heading;
        letter-spacing: 0.2rem;
    }
}



.img {
    height: 40rem;
    width: 100%;
}

.image {
    display: inline-block;
    width: 100%;
    height: auto;
}


@media (max-width: 23.5em) {
    
    .container {
        grid-template-columns: 1fr;
        width: 80%;
        height: 100%;
        padding: 0;
        margin: 5.6rem auto;
        text-align: center;

        .img {
            grid-row: 1;
            height: 28rem;
            width: 100%;

            .image {
                width: 100%;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
        }

        .content {
            grid-row: 2;
            justify-self: center;

            .lead {
                margin-bottom: 3.5rem;
                line-height: 1.4;
            }
        }

        .company-stats {
            grid-template-columns: 1fr;
            row-gap: 2rem;
            padding-bottom: 2rem;
        }
    }

}